@model LoginModel
@{
    ViewData["Title"] = "Home Page";
}
  

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="">

                @if (TempData["MensagemErro"] != null)
                {                    
                    @section Scripts {
                        <script>
                                $(document).ready(function () {
                                    $('.modal').modal("show")
                                });
                        </script>
                        }
                    <div class="alert alert-danger" role="alert">
                        @TempData["MensagemErro"]
                    </div>
                }

                <form asp-controller="Login" asp-action="Entrar" method="post">
                    <div class="mb-3">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" asp-for="Login" class="form-control" id="login">
                        @Html.ValidationMessageFor(x => x.Login)
                    </div>

                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" asp-for="Senha" class="form-control" id="senha">
                        @Html.ValidationMessageFor(x => x.Senha)
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

<div class="text-center mt-4 w-auto card">
    <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseTurno" role="button">
        Curso
    </a>
    <div class="collapse" id="collapseTurno">
        <div class="card card-body">
            <a class="btn btn-danger mt-1 botaocurso" valor="1" role="button">
                ADS - Noite
            </a>
            <a class="btn btn-danger mt-1 botaocurso" valor="2" role="button">
                ADS - Tarde
            </a>
            <a class="btn btn-danger mt-1 botaocurso" valor="3" role="button">
                Agronegócio - Noite
            </a>
            <a class="btn btn-danger mt-1 botaocurso" valor="4" role="button">
                Agronegócio - Tarde
            </a>
            <a class="btn btn-danger mt-1 botaocurso" valor="5" role="button">
                Produção Industrial - Noite
            </a>
            <a class="btn btn-danger mt-1 botaocurso" valor="6" role="button">
                Produção Industrial - Manhã
            </a>
            <a class="btn btn-danger mt-1 botaocurso" valor="7" role="button">
                Sistemas para Internet - Manhã
            </a>
        </div>
        <div class="collapse" id="BotaoSemestre">
            <a class="btn btn-danger mt-1 botaosemestre" valor="1" role="button">
                1º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="2" role="button">
                2º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="3" role="button">
                3º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="4" role="button">
                4º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="5" role="button">
                5º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="6" role="button">
                6º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="7" role="button">
                7º Semestre
            </a>
            <a class="btn btn-danger mt-1 botaosemestre" valor="8" role="button">
                8º Semestre
            </a>
        </div>
        <div class="text-center mt-4 w-auto card collapse" id="CarregarTabelas">
            <div class="loader" id="loader"></div>
            <br />
            <div id="Tabela"></div>
        </div>
    </div>
</div>
