@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center mt-4 w-auto card">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTurno" role="button" aria-expanded="false" aria-controls="collapseExample">
        Curso
    </a>
    <div class="collapse" id="collapseTurno">
        <div class="card card-body">
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#adsNoite" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS - Noite
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS - Tarde
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                Agronegócio - Noite
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                Agronegócio - Tarde
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial - Noite
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial - Manhã
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                Sistemas para Internet - Manhã
            </a>
        </div>
        <div class="collapse" id="adsNoite">
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#adsNoite1" role="button" aria-expanded="false" aria-controls="collapseExample">
                1º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                2º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                3º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                4º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                5º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                6º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                7º Semestre
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                8º Semestre
            </a>
        </div>
        <div class="collapse" id="adsNoite1">
        </div>
    </div>
</div>
