@{
    ViewData["Title"] = "Alterar registros";
}

<div class="text-center mt-4 w-auto card">
    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseTurno" role="button" aria-expanded="false" aria-controls="collapseExample">
        Curso
    </a>
    <div class="collapse" id="collapseTurno">
        <div class="card card-body">
            <a class="btn btn-secondary mt-1 botaocurso" valor="1" role="button">
                ADS - Noite
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="2" role="button">
                ADS - Tarde
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="3" role="button">
                Agronegócio - Noite
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="4" role="button">
                Agronegócio - Tarde
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="5" role="button">
                Produção Industrial - Noite
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="6" role="button">
                Produção Industrial - Manhã
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="7" role="button">
                Sistemas para Internet - Manhã
            </a>
        </div>
        <div class="collapse" id="BotaoSemestre">
            <a class="btn btn-secondary mt-1 btSemestre" valor="1" role="button">
                1º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="2" role="button">
                2º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="3" role="button">
                3º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="4" role="button">
                4º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="5" role="button">
                5º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="6" role="button">
                6º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="7" role="button">
                7º Semestre
            </a>
            <a class="btn btn-secondary mt-1 btSemestre" valor="8" role="button">
                8º Semestre
            </a>
        </div>
        <div class="text-center mt-4 w-auto card collapse" id="CarregarTabelas">
            <div class="loader" id="loader"></div>
            <button class="btn btn-success mt-1" id="btAtualizar" onclick="atualizarTabela('btAtualizar')" role="button">
                Atualizar tabelas
            </button>
            <br />
            <div id="Tabela"></div>
        </div>
    </div>
</div>
