@{
    ViewData["Title"] = "Alterar registros";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center mt-4 w-auto card">
    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseTurno" role="button" aria-expanded="false" aria-controls="collapseExample">
        Curso
    </a>
    <div class="collapse" id="collapseTurno">
        <div class="card card-body">
            <a class="btn btn-secondary mt-1 botaocurso" data-bs-toggle="collapse" id="BotaoCurso" valor="1" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS - Noite
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" data-bs-toggle="collapse" id="BotaoCurso" valor="2" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS - Tarde
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="3" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Agronegócio - Noite
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="4" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Agronegócio - Tarde
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="5" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial - Noite
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="6" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial - Manhã
            </a>
            <a class="btn btn-secondary mt-1 botaocurso" valor="7" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Sistemas para Internet - Manhã
            </a>
        </div>
        <div class="collapse" id="BotaoSemestre">
            <a class="btn btn-secondary mt-1 botaosemestre get-quote" valor="1" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                1º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="2" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                2º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="3" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                3º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="4" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                4º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="5" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                5º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="6" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                6º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="7" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                7º Semestre
            </a>
            <a class="btn btn-secondary mt-1 botaosemestre" valor="8" data-bs-toggle="collapse" id="BotaoSemestre" role="button" aria-expanded="false" aria-controls="collapseExample">
                8º Semestre
            </a>
        </div>
        <div class="text-center mt-4 w-auto card collapse" id="CarregarTabelas">
            <div class="loader" id="loader"></div>
            <br />
            <div id="Tabela"></div>
        </div>
    </div>
</div>
