@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center mt-4 w-auto card">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTurno" role="button" aria-expanded="false" aria-controls="collapseExample">
        Turno
    </a>
    <div class="collapse" id="collapseTurno">
        <div class="card card-body">
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseManhã" role="button" aria-expanded="false" aria-controls="collapseExample">
                Manhã
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseTarde" role="button" aria-expanded="false" aria-controls="collapseExample">
                Tarde
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseNoite" role="button" aria-expanded="false" aria-controls="collapseExample">
                Noite
            </a>
        </div>
    </div>
    <div class="collapse" id="collapseNoite">
        <div class="card card-body">
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseAdsNoite" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseNoitePi" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial
            </a>
        </div>
    </div>
    <div class="collapse" id="collapseManhã">
        <div class="card card-body">
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseNoiteAds" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseNoitePi" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial
            </a>
        </div>
    </div>
    <div class="collapse" id="collapseTarde">
        <div class="card card-body">
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseNoiteAds" role="button" aria-expanded="false" aria-controls="collapseExample">
                ADS
            </a>
            <a class="btn btn-primary mt-1" data-bs-toggle="collapse" href="#collapseNoitePi" role="button" aria-expanded="false" aria-controls="collapseExample">
                Produção Industrial
            </a>
        </div>
    </div>

    <div class="collapse" id="collapseAdsNoite">
        <div class="row">
            <div class="col">
                Segunda-feira
                <div classclass="row">
                    <div class="card">
                        <table class="table">
                            <thead class="table-dark w-auto">
                                <tr>
                                    <th scope="row">Aula</th>
                                    <th scope="row">Matéria</th>
                                    <th scope="row">Professor</th>
                                    <th scope="row">Bloco</th>
                                    <th scope="row">Sala</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Gestão de Projetos</td>
                                    <td>Nivaldo jr</td>
                                    <td>A1</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col">
                Terça-feira
            </div>
        </div>
        <div class="row">
            <div class="col">
                Quarta-feira
            </div>
            <div class="col">
                Quinta-feira
            </div>
        </div>
    </div>
</div>
